.about {
  text-align: center;
}

.about__description {
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.about h2 {
  font-family: "Roboto condensed", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.about__content h3 {
  font-family: "Roboto condensed", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
}
.about__description p {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 600;
}
